/* BASE STYLES */
* { 
  box-sizing: border-box;
}

body {
  color: #6c4843;
}

.nav-item, h1, h2, .card-title, p {
  color: #6c4843;
}

h1 {
  padding-top: 10px;  
}

.btn {
  background-color: #b63cd7;
  color: #fff;
  border: none;
}

.btn:hover {
  background-color: #fecf1f;
  color: #6c4843;
}

a {
  text-decoration: none;
}

a:hover {
  color: #6633ff;
}

/* NAV */
nav {
  grid-area: header;
  display: flex;
  flex-direction: row;
  background-color: #ffd9dc;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 10px;
}

nav>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding-inline-start: 0px;
}

.navbar-toggler {
  background-color: #749d6c;
}

.nav-item:hover, .navbar-nav .nav-link.active {
  color: #749d6c;
}

.navbar-nav:hover {
  color: black;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
  color: #749d6c;
}

.navbar {
  position: relative;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .8;
  transition: all .5s;
}

a.linkedin {
  background-image: url(../images/linkedin.svg);
  margin-left: auto;
}
a.github {
  background-image: url(../images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* HEADER */
header {
  text-align: center;
  background-color: #ffd9dc;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: auto;
}

header>.container {
  padding-bottom: 2rem;
}

/* PORTFOLIO */
.project-cards {
  background-color: #ffd9dc;
}

#portfolio {
  padding-top: 2rem;
}

.card {
  text-align: center;
}

.card .btn {
  margin-bottom: 1rem;
}

#skills {
  text-align: center;
}

.rounded-pill {
  color: #fff;
}

.html {
  background-color: #749d6c;
}

.css {
  background-color: #5a3954;
}

.javascript {
  background-color: #55534d;
}

.svg {
  background-color: #e9777b;
}

.api {
  background-color: #aa8a08; 
}

.sass {
  background-color: #6c4843;
}

.all {
  background-color: #fff;
  font-weight: bolder;
  color: #6c4843;
  border: 1px solid #6c4843;
  margin-left: 1rem;
}

.hidden {
  display: none;
}

.badge:hover {
  cursor: pointer;
  opacity: 0.8;
}

svg {
  fill: #b63cd7;
  height: 4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: transform .2s ease-in-out;
}

svg:hover {
  animation: standout 0.5s;
}

@keyframes standout {
  0% {
      transform: scale(1.05) rotate(0deg);
  }

  50% {
      transform: scale(1.1) rotate(-1deg);
  }

  100% {
      transform: scale(1.1) rotate(1deg);
  }
}


/* CONTACT */
.contact {
  background-color: #e08ed1;
}

/* FOOTER */
footer {
  background-color: #ffc9cf;
  width: 100%;
  min-height: 30px;
  padding: 20px 0 20px 20px;
  text-align: right;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}


/* MEDIA QUERIES */
@media (min-width: 1000px){
  header {
    text-align: left;
    background: url('../images/v2-pink-web-dev-concept-narrow-edited.jpg') no-repeat top center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
    height: 100vh;
  }
  header>.container {
    margin-top: 6rem;
    padding-top: 1rem;
  }
  header>h1{
    margin-top: 10rem;
  }

  .mobile-img{
    display: none;
  }

  .navbar {
    position: fixed;
  }
  
}