/* .hero {
    display: flex;
    align-items: center;
    justify-content: center;  
    background-image: url('../images/pink-web-development-concept-header-mobile.jpg');
    background-size: cover;
    /* width: 100vw; }*/
  

/* .project-cards {
  background-color: #ffd9dc;
}

@media (min-width: 768px) {
  .hero {
    background-image: url('../images/pink-web-development-concept-header-narrow.jpg');
  }
} */

* { 
  box-sizing: border-box;
}

body {
  color: #6c4843;
}

nav {
  background-color: #ffd9dc;
  
  /* background-color: #f49ea4; */

}

footer {
  background-color: #ffc9cf;
  /* background-color: #f49ea4; */

}

.nav-item, h1, h2, .card-title, p {
  color: #6c4843;
}

.btn {
  background-color: #b63cd7;
  color: #fff;
}


header {
  text-align: center;
  /* padding-left: 10vw; */
  background-color: #ffd9dc;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: 100vh;
}

h1 {
  padding-top: 10px;  
}

.btn {
  border: none;
}

.btn:hover {
  background-color: #fecf1f;
  color: #6c4843;
}



.project-cards {
  background-color: #ffd9dc;
}

.card {
  text-align: center;
}

.card .btn {
  margin-bottom: 1rem;
}

.rounded-pill {
  color: #fff;
}

.html {
  background-color: #749d6c;
}

.css {
  background-color: #5a3954;
}

.javascript {
  background-color: #55534d;
}

.svg {
  background-color: #e9777b;
}

.api {
  background-color: #aa8a08; 
}

.sass {
  background-color: #6c4843;
}

.all {
  background-color: #fff;
  font-weight: bolder;
  color: black;
}

.hidden {
  display: none;
}

.badge:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* @media (min-width: 768px) {
  nav {
    background-color: transparent;
  }
} */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 20px 20px;
  text-align: right;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a {
  text-decoration: none;
  /* color: #999; */
}
a:hover {
  color: #6633ff;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .8;
  transition: all .5s;
}

a.linkedin {
  background-image: url(../images/linkedin.svg);
  margin-left: auto;
}
a.github {
  background-image: url(../images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}



/* @media (max-width: 768px) {
  header {
    opacity: 0.5;
  }
}  */


nav {
  grid-area: header;
  display: flex;
  flex-direction: row;
  background-color: #ffd9dc;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 10px;
}

nav>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding-inline-start: 0px;
}

.contact {
  background-color: #e08ed1;
}

svg {
  fill: #b63cd7;
  height: 4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: transform .2s ease-in-out;
}

svg:hover {
    animation: standout 0.5s;
}


@keyframes standout {
  0% {
      transform: scale(1.05) rotate(0deg);
  }
  /* 25% {
      transform: scale(1.1) rotate(-5deg);
  } */
  50% {
      transform: scale(1.1) rotate(-1deg);
  }
  /* 75% {
      transform: scale(1.1) rotate(-5deg);
  } */
  100% {
      transform: scale(1.1) rotate(1deg);
  }
}

#skills {
  text-align: center;
}

@media (min-width: 768px){
  header {
    text-align: left;
    /* padding-left: 10vw; */
    background: url('../images/v2-pink-web-dev-concept-narrow-edited.jpg') no-repeat top center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
    height: 100vh;
  }
  header>.container {
    margin-top: 6rem;
    padding-top: 1rem;
  }
  header>h1{
    margin-top: 10rem;
  }
  .mobile-img{
    display: none;
  }


  
}